/* .main-container{
  background: url('./../images/sectionbackground.jpg');
  background-size: cover;
} */
.main-container1{
  margin-top: -5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: -5vh;
  background: url("https://image.freepik.com/free-photo/crumpled-gray-paper-background-dark-grey-sheet-texture_156843-164.jpg");
  /* background: url("https://us.123rf.com/450wm/lava4images/lava4images1511/lava4images151100001/47900080-classic-and-elegant-linen-fabric-textured-background-in-natural-colour.jpg?ver=6"); */
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 10px 10px 10px 10px #747070;
  z-index: 13;
}
.sub-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 18vw;
  align-items: center;
  width: 60vw;
}
.main1{
height: 10vh;
margin: 20vh;

}
.card{
  width: 20vw;
  height: 20vw;
  margin: 5vw;
  margin-top: 5vh;
}

.title{
  text-align: center;
  font-weight: 500;
}

.desc{
    text-align: center;
    font-weight: 200;
  }

/* .card{
  width:20%;
} */

.card mat-card img{
    width: 95%;
    align-self: center;
    padding: 5px;
   
  }

  footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    background: black;
    color: white;
    padding: 9px 20px;
    bottom: 0%;
    }