<div class="main-container">
  <div class="main-container1">
    <div class="sub-container">
        <div class="card" *ngFor="let i of cards">
          <mat-card>
              <img id="image1" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <div class="title"><p>{{i.title}}</p></div>
                <div class="desc"><p>{{i.desc}}</p></div>
              <!-- <mat-card-content>
                  Merge PDF
              </mat-card-content> -->
            </mat-card>
        </div>
    </div>
  </div>
</div>
<br>
<br>
<Section class="main1">
 <h2 style="text-align: center;"> The PDF software trusted by millions of users</h2>
<h4  style="text-align: center;">PDFLOVERS is your number 1 web app for editing PDF with ease.<br> all the tools you need to work efficiently with your digital documents while keeping your data safe and secure.</h4>

</Section>
<footer>
  <div class="center">
      Copyright &copy; PDFLOVERS All rights reserved!
  </div>
</footer>