*{
    margin: 0;
    padding: 0;
    }
    
    .navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 50px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    left: 0;
    right: 0;
    z-index: 2;
    }
    
    .navbar::before{
    content: "";
    background-color: rgba(255, 0, 85, 0.925);
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    
    }
    .navbar ul {
    display: flex;
    left: 0px;
    list-style-type: none;
    }
    .navbar ul li a{
    padding: 2px 25px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    }
    /* .navbar ul li :hover{
    background-color: rgb(92, 95, 99);
    } */
    #logo{
        margin: 2px 25px;
        }
    #logo img{
        height: 20px;
    }
    