<!-- Things to add:
1.refresh page on clicking the logo -->
<nav class="navbar">
    <div class="logo">
        <img src="../../../assets/images/logo1.png" alt="no image found">
    </div>
    <ul>
        <li class ="listitem"> <a href="#MERGE PDF" > MERGE PDF </a></li>
        <li class ="listitem"> <a href="#SPLIT PDF"> SPLIT PDF </a></li>
        <li class ="listitem"> <a href="#CONVERT TO PDF"> CONVERT TO PDF </a></li>
        <li class ="listitem"> <a href="#EDIT PDF"> EDIT PDF </a></li>
    </ul>
  </nav>
