<!-- Things to add:
1.refresh page on clicking the logo -->
<nav class="navbar">
    <div class="logo">
        <img src="../../../assets/images/logo1.png" alt="no image found">
    </div>
    <ul>
        <li class ="listitem"> <a [routerLink]="['/merge']" > MERGE PDF </a></li>
        <li class ="listitem"> <a [routerLink]="['/split']" >SPLIT PDF </a></li>
        <li class ="listitem"> <a [routerLink]="['/convert']"> CONVERT TO PDF </a></li>
        <li class ="listitem"> <a [routerLink]="['/edit']"> EDIT PDF </a></li>
    </ul>
  </nav>
